<Form::item::field @scope={{@scope}} @for={{@for}} as |f|>
  <div class="form-check {{if f.messages.error "form-field-error"}}">
    <Input @type="checkbox" class="form-check-input" @id={{f.id}} @checked={{f.data}} name={{f.name}} ...attributes/>
    <label for={{f.id}}>
      {{#if (has-block)}}
        {{yield}}
      {{else}}
        {{@label}} (Path: {{join "." f.path}})
      {{/if}}
    </label>
  </div>
</Form::item::field>